@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "./header.scss";
@import "./content.scss";
@import "./sidebar.scss";
@import "./adaptive.scss";


body {
  background: #fafafa;
  transition: padding .2s;
  display: grid;

  img.icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: brightness(0);
  }
}
