body.sidebar-open .sidebar {
  .sidebar-burger img.burger { display: none; }
}

body:not(.sidebar-open) .sidebar {
  .sidebar-burger img.exit { display: none; }
}

.sidebar { 
  background-color: #F3F4F9;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 240px;
  transition: width 0.2s;
  z-index: 20;

  .sidebar-header {
    display: flex;
    align-items: center;
    
    &__name {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
    }
  }

  .sidebar-burger {
    position: absolute;
    top: 0;
    right: -48px;
    width: 48px;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      z-index: 1;
      cursor: pointer;
    }
  }

  .sidebar-menu {
    ul {
      padding: 0;
      li {      
        list-style-type: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        a {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          display: flex;
          position: relative;
          &, &:active, &:hover { text-decoration: none; }
          &, &:active { color: #333; }
          span { margin-left: 15px }

          &:hover, &.active {
            color: #34ABE0;
            img { filter: brightness(1); }
          }
          &.active::after {
            content: '';
            width: 3px;
            height: 100%;
            position: absolute;
            background: #34ABE0;
          }
        }
      }
    }
  }
}