<% const coupons = require('@/coupons.json'); %>
<% const title = 'Развлечения' %>

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>BECO | <%= title %></title>
</head>
<body>
  <%- require('@/components/AppHeader.ejs')({ title }) %>
  <%- require('@/components/AppContent.ejs')({ coupons }) %>
  <%- require('@/components/AppSidebar.ejs')({ pageId: 'enjoy' }) %>
</body>
</html>