<% const coupons = require('@/coupons.json'); %>
<% const title = 'Каталог' %>

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>BECO | <%= title %></title>
  <link rel="icon" type="image/x-icon" href="./assets/logo.svg">
</head>
<body>
  <%- require('@/components/AppHeader.ejs')({ title }) %>
  <%- require('@/components/AppContent.ejs')({ coupons }) %>
  <%- require('@/components/AppSidebar.ejs')({ pageId: 'catalog' }) %>
</body>
</html>